.site-header {
  box-shadow: 0 0 50px rgba(0,0,0,.3);
  position: relative;
  z-index: 1;
  .top-banner {
    background: $color-one;
    padding: .5em;
    div, a {
      color: white;
      text-decoration: none;
    }
  }
  .logo {
    text-align: center;
    width: 100%;
    img {
      margin: 1em auto;
    }
  }
}
