.top-drop {
  background: $color-two;
  height: 50px;
  width: 100%;
  position: absolute;
  top: -50px;
  z-index: 2;
  transition: all .2s cubic-bezier(.57,0,.54,1.25);
  &:after {
    content: '+';
    background: $color-two;
    color: $white;
    padding: .5em;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    bottom: -50px;
  }
  &:hover {
    top: -5px;
  }
}
