html {
	box-sizing: border-box;
  height: 100%;
	body {
    margin: 0;
	  height: 100%;
    background: #fff;
		background-size: cover;
    overflow-x: hidden;
	}
}

a {
	text-decoration: none;
}
*, *:before, *:after { box-sizing: inherit; }
*:focus {
	outline: none;
}
.wrap {
  @include clearfix;
}
.site-wrapper {
  margin: 0 1em;
  max-width: $container_width;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    margin: 0 auto;
  }
}
