html {
	box-sizing: border-box;
  height: 100%;
	body {
    margin: 0;
	  height: 100%;
    background: #fff url('/assets/images/bg.jpg') no-repeat top center;
		background-size: cover;
    overflow-x: hidden;
	}
}

*, *:before, *:after { box-sizing: inherit; }
.wrap {
  @include clearfix;
}
.site-wrapper {
  margin: 0 1em;
  max-width: $container_width;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    margin: 0 auto;
  }
}
