.site-footer {
   p, a {
     color: #8C8989;
     text-decoration: none;
   }
   .site-by {
     color: #BFBFBF;
   }
  .footer-top {
    text-align: center;
    background-color: $color-one;
    padding: 1em;
    background-color: #000;
    overflow: hidden;
    color: #fff;
  }
  .footer-bottom {
    background-color: $color-two;
    padding: 1em;
    color: #fff;
  }
}
.top-button {
  position: fixed;
  bottom: 0;
  right: 2em;
  background: rgba(0, 0, 0, .8);
  border-radius: 5px 5px 0 0;
  width: 50px;
  height: 40px;
  padding: 0;
  transition: background .3s ease-in-out;
  a {
    width: 100%;
    text-align: center;
    line-height: 40px;
    display: block;
  }
  &:hover {
    background: rgba($color-one, .8);
  }
}
