---
layout: default
---

<main class="page-content">
  <div class="preface">
    <div class="flexslider" id="slider">
      <ul class="slides">
        {% assign items = site.data.slides | sort: 'weight' %}
        {% for item in items %}
          {% if item.slide_type == "Image" %}
            <li data-thumb="">
              <img src="{{ item.slide_source }}" alt="{{ item.title }}">
            </li>
          {% elsif item.slide_type == "Video" %}
            <li data-thumb="">
              <div class="videoWrapper">
                <iframe id="player" src="{{ item.slide_source }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <section class="content-wrapper wrap">
    <header class="content-header">
      <h1>Orchestrating Success</h1>
      <p>We are here to help you find your stride, your success, and achieve your bold ideas.</p>
    </header>
    <article>
      <div class="content-left">
        <p>Strategic advisor to organizations with bold ideas and audacious goals. We believe that how we get there is as important as where we are going. We believe that alignment plus engagement can catapult a company towards its purpose. We are accepting clients on a limited basis.</p>
        <p>We are accepting clients on a limited basis. If you are interested in working with us, please send an email to <a href="mailto:info@btnadvisors.com">info@btnadvisors.com</a>. We would love to speak with you.</p>
      </div>
      <div class="content-right">
        <figure>
          <img src="/assets/images/orchestra.png" alt="Ochestra">
          <figcaption>
            <div class="quote">To lead the orchestra, you must turn your back to the crowd.</div>
            <div class="attributed">- Aristotle</div>
          </figcaption>
        </figure>
      </div>
    </article>
    <article class="contact-form">
      <form>
        <h2>Contact Us</h2>
        <input type="text" id="name" placeholder="YOUR NAME">
        <input type="email" id="email" placeholder="EMAIL ADDRESS">
        <select id="subject">
          <option>SUBJECT</option>
          <option>SUBJECT 2</option>
          <option>SUBJECT 3</option>
        </select>
        <textarea placeholder="YOUR MESSAGE" id="message"></textarea>
        <input type="submit" value="SEND YOUR MESSAGE">
      </form>
    </article>
  </section>
</main>
